.h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.grid {
    display: grid;
    grid-template-columns: 320px 200px;
}
  
.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.judul-game{
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
}

.judul-game h1 {
    margin-bottom: 5px;
}

.highscore {
    font-size: 11px;
    margin-bottom: 20px;
}

.game-board {
    border: solid 5px;
}

.right-column {
    font-size: 23px;
    margin-left: 15px;
    padding-left: 15px;
    width: 250px;
}
.play-button {
    background-color: #d7ddd7;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
}

#gameover {
    display: none;
    background-color: white;
    color: #1f1f1f;
    padding: 10px 40px 5px 40px;
    font-size: 10px;
    position: absolute;
    left: 731px;
    top: 300px;
}

.highscore h3 {
    font-size: 15px;
    margin-bottom: 10px;
}