* {
    font-family: 'Press Start 2P', cursive;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
    width: 100%;
    overflow: hidden;
}

.back-button {
    position: absolute;
    left: 25vw;
    top: 3vh;
}

.back-button a {
    text-decoration: none;
}

.back-button h3 {
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    padding: 20px 25px 20px 20px;
    opacity: 0.8;
}

.back-button h3:hover {
    background-color: white;
    color: #1f1f1f;
    opacity: 1;
}

