html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0px 20vw 0px 20vw;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
    overflow: hidden;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgb(173, 173, 173);
    padding: 5px 20px 0px 20px;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    font-size: 25px;
    margin: 12px 0px 12px 0px;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Open Sans';
    font-size: 10px;
}

.signed-in {
    margin: 0px 0px 0px 0px;
    font-weight: 100;
    color: white;
    opacity: 0.8;
}

.username {
    font-family: 'Open Sans';
    margin: 0px 15px 0px 0px;
    font-weight: bolder;
    padding: 0px;
    font-size: 18px;
}

.logout {
    float: right;
    position: relative;
}

.logout-icon {
    width: 28px;
    margin-left: 2px;
    align-self: center;
    position: relative;
    top: 3px;
}

.logout-icon:hover {
    cursor: pointer;
}

.logout-dropdown {
    display: none;
    font-family: 'Open Sans';
    background-color: #1b1b1b;
    position: absolute;
    right: 0;
    width: 355px;
    margin: 15px 0px 0px 0px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #1b1b1b;
}

.logout-dropdown h3 {
    margin: 0;
    font-size: 15px;
}

.logout-dropdown a {
    margin: 0px 5px 0px 5px;
    font-size: small;
    padding: 3px 9px;
    border-radius: 3px;
    border: 1px solid white;
    justify-self: flex-end;
}

#logout-btn {
    background-color: white;
    color: #1b1b1b;
    font-weight: 800;
}

#cancel-btn:hover {
    cursor: pointer;
}

.show {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin: 0px 15px 0px 15px;
    padding: 8px 2px;
}

.nav-item:hover:not(.active) {
    border-bottom: 2px solid rgb(173, 173, 173);
}

.menu-icon {
    width: 25px;
}

.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide {
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.active {
    border-bottom: 2px white solid;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-img {
    width: 320px;
    margin: 0px 0px 0px 80px;
}

.hero-title h1 {
    font-size: 55px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.hero-title p {
    font-size: 21px;
    font-family: 'Open Sans';
    letter-spacing: normal;
    font-weight: 100;
    margin-top: 0px;
    width: 500px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.buttons h1 {
    font-size: 12px;
    margin: 0;
    padding: 15px 15px 15px 23px;
    background-color: white;
    border: 1px solid white;
    color: #1f1f1f;
    margin: 0px 20px 0px 0px;
    opacity: 0.9;
    transition: opacity 0.2s ease-in-out;
}

.buttons h2 {
    font-size: 12px;
    margin: 0;
    padding: 15px 20px 15px 20px;
    border: 1px solid white;
    opacity: 0.9;
    transition: opacity 0.2s ease-in-out;
}

.buttons h1:hover, .buttons h2:hover {
    cursor: pointer;
    opacity: 1;
}

.games {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.games a {
    width: 65%;
}

.games h1 {
    font-size: 50px;
}

.game-container {
    width: 100%;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    margin: 12px 0px 12px 0px;
    font-size: small;
    padding: 20px 0px 20px 0px;
    transition: .1s ease-in-out;
}

.game-container:hover {
    background-color: white;
    color: #1f1f1f;
}

a {
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 1px;
    color: white;
    opacity: 0.9;
    transition: opacity .2s ease-in-out;
}

a:hover {
    opacity: 1;
}

.leaderboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leaderboard-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leaderboard-title h3{
    margin-top: 0px;
}

.leaderboard-select {
    position: relative;
    left: 215px;
    bottom: 10px;
}

.leaderboard-container table{
    width: 100%;
    height: 58vh;
    display: inline-block;
    overflow: auto;
}

.leaderboard-container table::-webkit-scrollbar {
    display: none;
}

.header-row td{
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #1f1f1f;
}

td {
    padding: 10px 30px;
}

tr .highscore {
    float: right;
}

.about{
    text-align: center;
    line-height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about p {
    font-family: 'Open Sans';
    line-height: 1.5;
    width: 55%;
    margin-bottom: 5px;
    text-align: justify;
}

.developer{
    border: 0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-size: 18px;
}

.developer td {
    padding: 0px 15px;
}

#dev-img{
    width: 50px;
}
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    padding-bottom: 20px;
    opacity: 0.5;
}

.footer h3 {
    font-size: 0.6vw;
    font-weight: 100;
    margin-bottom: 5px;
    letter-spacing: 1.5px;
    text-align: center;
}

.socialmedia a {
    margin: 5px 5px 0px 5px;
    font-size: 20px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.4s;
    animation-name: fade;
    animation-duration: 0.4s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
