body {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
    width: 100%;
    overflow: hidden;
}

#canvas {
    border: 1px solid white;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

#score {
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}

#restartbtn {
    font-family: 'Press Start 2P', cursive;
    color: #1f1f1f;
    border: none;
    background-color: white;
    height: 40px;
    padding: 15px 20px;
    margin-top: 20px;
    visibility: hidden;
}

.control {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
}

.downsec {
    display: flex;
    justify-content: center;
}

.ctrlbtn {
    width: 60px;
    height: 60px;
    color: #1f1f1f;
    background-color: white;
    border: none;
    margin: 8px;
    border-radius: 2px;
    font-size: 20px;
}


@media only screen and (max-width: 600px) {
    .control {
        visibility: visible;
        top: 570px;
    }

    .con {
        visibility: hidden;
    }

    #restartbtn {
        position: absolute;
        top: 480px;
    }
}