html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
    overflow: hidden;
    font-size: larger;
}

.welcome_title {
    margin: 30px;
    text-align: center;
}

h1 {
    font-size: 5vw;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    font-weight: 300;
    letter-spacing: 0.5vw;
    margin: 2px
}

a {
    text-decoration: none;
    color: unset;
}

.title {
    font-size: 35px;
    justify-self: center;
    text-align: center;
}

.info {
    font-size: 19.4px;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 4px;
    font-weight: 500;
}

.login_button {
    text-decoration: none;
    background-color: white;
    padding: 15px 23px 13px 23px;
    color: #1f1f1f;
    font-size: 1vw;
}

.reg_link {
    text-decoration: underline;
    color: white;
    font-size: 0.6vw;
    margin: 15px;
}

.box-auth{
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    /* text-align: center; */
    padding: 30px;
    border-radius: 3px;
    border: 1px solid rgb(100, 100, 100);
    font-weight: bold;
}

input[type=text],
input[type=password] {
    width: 300px;
    height: 20px;
    border: none;
    border-bottom: 1px solid rgb(100, 100, 100);
    padding: 5px 10px;
    background-color: #202020;
    color: white;
    transition: border-bottom .25s ease-in-out;
}

input:focus {
    outline: none;
    border-bottom: 1px solid white;
}

.bottom-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.forminput {
    margin-bottom: 15px;
    display: flex;
}

.submit-button{
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    background-color: white;
    border-radius: 3px;
    border: none;
    padding: 12px 15px;
    transition: background-color .20s ease-in-out;
}

.submit-button:hover {
    background-color: rgb(216, 216, 216);
}

.showPass {
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.flash {
    font-family: 'Open Sans';
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    padding: 5px 0px;
    border: 1px solid rgb(134, 17, 17);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 10px;
}

.link {
    text-decoration: underline;
    color: white;
    font-family: 'Open Sans';
    text-align: center;
    font-size: 11px;
    margin-top: 10px;
}