body {
	font-family: 'Press Start 2P', cursive;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}